# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

*.exe~

lastupdate\.tmp

.idea
vendor
logs/
conf/app.conf
conf/config.yml
conf/*.yml
routers/commentsRouter_controllers\.go
routers/commentsRouter___*\.go
Dockerfile

dlv_start.sh
ddc_queue
ddc_queue.exe
