host: "172.18.0.253"
port: 5672
username: "dev"
password: "secret"
vhost: "/"
url: "amqp://dev:secret@172.18.0.253:5672/"
exchangeName: "order.exchange"
exchangeType: "fanout"
routingKey: "generateOrder"
queueName: "orderQueue"
